.inbox {
  width: 100%;
  display: grid;
  /* grid: 60px 1fr / 60px 200px calc(100% - 260px); */
  grid: auto / auto 1fr;
  transition: 0.3s ease;
  font-family: "Heebo", sans-serif;
  user-select: none;
  background: #eaeff3;

  .menu_wrapper {
    width: 0px;
    height: 100%;
    grid-column: 1 / 2;
    display: grid;
    grid: 60px auto / 60px auto;
    transition: 0.3s ease;
  }

  .menu_wrapper__opened {
    /* background: linear-gradient(
        to top right,
        rgb(100, 43, 115),
        rgb(198, 66, 110)
      ); */
    width: 260px;
  }

  .menu_wrapper__opened>.inbox__submenu-list {
    border-left: 1.2px solid var(--border-color);
  }

  .inbox__menu-button {
    /* background: #923671; */
    grid-column: 1;
    height: 60px;
    /* background-color: #eaeff3; */
    align-items: center;
    justify-content: center;
    display: grid;
  }

  .inbox__menu-list {
    /* background: linear-gradient(
        to top right,
        rgb(100, 43, 115),
        rgb(198, 66, 110)
      ); */
    /* background-color: #eaeff3; */
    grid-column: 1;
    overflow: hidden;
    display: grid;
    grid: repeat(1, 60px) 1fr 60px / 100%;
    align-items: center;
    justify-items: center;
  }

  .inbox__submenu-list {
    /* background: linear-gradient(
          to top right,
          rgb(100, 43, 115),
          rgb(198, 66, 110)
        ); */
    width: 0px;
    grid-column: 2;
    grid-row: 1 / 3;
    border-left: 1.2px solid var(--header-background-color);
    background-color: var(--header-background-color);
    overflow: hidden;
    display: grid;
    transition: 0.3s ease;
    overflow: hidden;
    box-sizing: border-box;
  }

  &.menu-open {
    grid: 60px 1fr / 160px calc(100% - 160px);
  }

  .inbox__wrapper {
    background: radial-gradient(#444, #222);
    padding: 30px;
    max-width: 840px;
    margin: auto;
    border-radius: 20px;
  }
}

.inbox__content {
  height: 100dvh;
  grid-column: 2;
  /* grid-row-start: 1; */
  /* grid-row-end: 3; */
  grid-row: 1/-1;
  display: grid;
  /* grid:  60px calc(100% - 60px) / 1fr 2fr 1fr; */
  /* grid-template-columns:  auto 2fr 1fr; */
  grid-template-columns: 1fr;
  transition: 0.3s ease;
  border-radius: 0 0 0 0;
  /* box-shadow: rgba(60, 64, 67, 0.2) 0px 0px 2px 0px, rgba(60, 64, 67, 0.15) 0px 0px 6px 2px; */
  background-color: var(--main-background-color);
  /* padding: 16px; */
}

.inbox__content_opened {
  overflow: hidden;
  border-radius: 10px 0 0 10px;
  box-shadow: rgba(60, 64, 67, 0.2) 0px 0px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 0px 6px 2px;
}

.emails,
.email,
.email_details,
.composer {
  grid-column: 1;
  grid-row: 1;
  height: 100dvh;
  display: grid;
  grid-template-rows: 60px auto 1fr;
}

.emails {
  z-index: 0;
}

.email {
  z-index: 1;
  background-color: var(--main-background-color);
}

.composer {
  z-index: 1;

}

.email_details {
  z-index: 2;
}



.email_tile {
  display: flex;
  align-items: flex-start;
  padding: 8px 16px 8px 16px;
  border-bottom: 0.7px solid var(--border-color);

  &:hover {
    background-color: var(--main-hover-color);
  }

  & .sender {
    position: block;
    display: flex;
    justify-content: space-between;
  }

  .title {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.avatar {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 45px;
  height: 45px;

  &>img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 100%;
  }

  &>.online_status {
    width: 12px;
    height: 12px;
    background: #99CC00;
    border: 2px solid var(--main-background-color);
    position: absolute;
    bottom: 1.5%;
    right: 1.5%;
    border-radius: 100%;
  }
}

.composer {
  /* background: var(--background-norm);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  bottom: 0;
  box-shadow: var(--shadow-lifted);
  color: var(--text-norm);
  height: 40rem;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  position: absolute;
  transform: translateX(var(--composer-drag-offset));
  transition: 0.15s cubic-bezier(0.22, 1, 0.36, 1), transform 0s;
  width: 40rem;
  z-index: 401; */
  background-color: var(--main-background-color);

  & label {
    width: 15%;
    display: flex;
    align-items: center;
    /* font-weight: bold; */
  }

  & input {
    width: 100%;

    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    border: none;
    outline: none;
    background-color: transparent;
    /* border-bottom: 1px solid #ccc; */
  }

  & textarea {
    padding: 40px;
    border: none;
    outline: none;
    background-color: transparent;
  }
}

.is_middle_view_opened {
  grid-template-columns: none;
}

.is_details_view_opened {
  grid-template-columns: none;
}

/* 
Compact 
Width < 600
Phone in portrait
*/
@media (max-width: 600dp) {}

/*
Medium
600 < width < 840
Tablet in portrait
Foldable in portrait (unfolded)
*/
@media (min-device-width: 600dp) and (max-device-width: 840dp) {}

/*
Expanded
Width > 840
Phone in landscape
Tablet in landscape
Foldable in landscape (unfolded)
Desktop
*/
@media screen and (min-width: 840px) {
  .inbox {
    width: 100%;
    display: grid;
    /* grid: 60px 1fr / 60px 200px calc(100% - 260px); */
    grid: auto / auto auto 1fr;

    .menu_wrapper {
      width: 60px;
    }

    .menu_wrapper__opened {
      width: 260px;
    }
  }

  .inbox__content {
    grid-column: 3 !important;
    /* grid-template-columns: 1fr 2fr 1fr; */
  }

  .emails {
    grid-column: 1;
  }

  .email,
  .composer {
    grid-column: 2;
  }

  .email,
  .composer {
    border-left: 1.2px solid var(--border-color);
    border-right: 1.2px solid var(--border-color);
  }

  .email_details {
    grid-column: 3;
  }

  .is_middle_view_opened {
    grid-template-columns: 1fr 2fr;
  }

  .is_details_view_opened {
    grid-template-columns: 1fr 2fr 1fr;
  }

  /* .email {
    visibility: visible;
  }

  .email_details {
    visibility: visible;
  }

  .composer {
    visibility: visible;
  } */
}